HTTP_MQTT_Middlewares/Middleware2/WADL.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc title="Middleware2">
        API para gestionar los datos recibidos de los sensores y enviarlos al BrokerMQTT.
    </doc>
    <resources base="http://localhost:4002/">
        <resource path="/">
            <method name="GET">
                <response>
                    <representation mediaType="text/html"/>
                </response>
            </method>
        </resource>
        <resource path="/save">
            <method name="GET">
                <doc>Save sensor data using GET request.</doc>
                <request>
                    <param name="id_sensor" style="query" type="xsd:string"/>
                    <param name="temperatura" style="query" type="xsd:float"/>
                    <param name="humedad" style="query" type="xsd:float"/>
                    <param name="co2" style="query" type="xsd:float"/>
                    <param name="volatiles" style="query" type="xsd:float"/>
                </request>
                <response>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
            <method name="POST">
                <doc>Save sensor data using POST request.</doc>
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="text/plain"/>
                </response>
            </method>
        </resource>

    </resources>
</application>
